@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;
  background-color: #f6f4f3;
  width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #070600;
}

a:hover{
  text-decoration: underline;
}


/* ! Stili di testo */

.title{
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 54px;
}

.subtitle{
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 44px;
}

.medium-text{
  font-family: "Hind Madurai", sans-serif;
  font-size: 38px;
}

.normal-text{
  font-family: 'Hind Madurai', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

.active{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .title{
    font-size: 48px;
  }
  .subtitle{
    font-size: 36px;
  }
  .medium-text{
    font-size: 28px;
  }
  .normal-text{
    font-size: 14px;
  }
}



/* ! Header */

header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: #a4b3d0;
  display: flex;
  align-items: center;
}

.logo{
  width: 20%;
}

.logo img{
  width: 100px;
}

.menu{
  width: 70%;
  margin: 0;
  padding: 0;
}

#menu_ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
#menu_ul li{
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 15px;
}

#menu_ul a{
  display: block;
}

#menu_ul li:hover{
  text-decoration: underline;
}


.button{
  background-color: #294c60;
  border-radius: 6px;
}
.button:hover{
  opacity: 80%;
}
.button p{
  color: #f6f4f3;
}

.button a:hover{
  text-decoration: none;
}


.hamburger{
  display: none
}

@media screen and (max-width: 768px) {

  header{
    position: fixed;
    top: 0;
    height: 90px;
    z-index: 10;
  }

  .hamburger{
    display: block;
    width: 40px;
    height: 40px;
    z-index: 4;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .hamburger span{
    display: block;
    background: #294c60;
    width: 100%;
    height: 3px;
    margin-bottom: 15px;
  }

  .logo{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5;
  }

  .logo img{
    width: 50px;
  }


  .menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fba5a5;
    z-index: 4;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }
  #menu_ul{
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
  }
  #menu_ul li{
    padding: 5% 0;
  }

  .open{
    right: 0;
  }
}


/* ! Hero */


.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Altezza dell'intera viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Testo bianco per contrastare con lo sfondo */
  text-align: center;
  overflow: hidden;
  background: url('img/bg.png') no-repeat center center; /* Imposta l'immagine di sfondo */
  background-size: cover; /* Copre l'intera area del contenitore */
}


.name{
  margin-top: -100px;
  position: relative;
  z-index: 2;
}

.title, .subtitle {
  text-align: center;
  margin: 0;
  color: #294C60;
  padding: 1em 0;

}

@media (max-width: 768px) {
  .title{
    margin-top: 25vh;
  }
}


/* ! Timeline */


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ff5757;
  opacity: 50%;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.lato {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.lato::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #5072ae;
  border: 4px solid #5072ae;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.content h2{
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  .content p{
    font-size: 14px;
  }

  .content h2{
    font-size: 24px;
  }
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .lato {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .lato::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}










.footer {
  width: 100%;
  text-align: center;
  background-color: #fba5a5;
  opacity: 70%;
  padding: 5%;
}
.footer h1{
  color: #294c60;
  font-weight: bolder;
}
.footer img{
  width: 3vw ;
  margin: 20px;
}
.footer img:hover{
  opacity: 70%;
}

@media (max-width: 768px) {
  .footer img{
    width: 10vw;
    margin: 10px;
  }
}



.container{
  padding: 10%;
}

.chisono{
  width: 100%;
  padding-bottom: 10%;
}

.chisono h1{
  margin:0 5% ;
  font-weight: bold;
}
.chisono p{
  width: 100%;
  padding-left: 7%;
  line-height: 300%;
}

/* ! Istruzione */

.istruzione{
  width: 100%;
  position: relative;
  padding-bottom: 10%;
}
.istruzione h2{
  margin:0 5% ;
  color: black;
  font-size: 32px;
}
.istruzione p{
  width: 100%;
  padding-left: 7%;
  line-height: 300%;
}

.box-l{
  padding: 10px 40px;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 400px;
  margin: 5%;
  left: 0;
  border-radius: 6px;
  }
.box-r{
    padding: 10px 40px;
    position: relative;
    background-color: white;
    width: 40%;
    height: 400px;
    margin: 5%;
    left: 50%;
    border-radius: 6px;
  }

  @media (max-width: 768px) {
    .box-l{
      width: 90%;
      left: 0;
      position: relative;
    }
    .box-r{
      width: 90%;
      left: 0;
      position: relative;
    }
  }





.landing-container{
  text-align: center;
  padding: 10%;
}

.landing-intro{
  margin-bottom: 100px;
}


.landing-content{
  width: 100%;
  max-width: 1200px;
}

.landing-button{
  width: 100%;
  border-radius: 15px;
  background-color: #294C60;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.landing-button a{
  color: #F6F4F3;
}
























/* ! Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: rgba(0, 0, 0, 0.0);
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5757;
  opacity: 50%;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity:70%;
}

/* ! Border box */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
